body {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: clamp(3rem, 6vw, 3.75rem);
}

h3 {
  font-size: clamp(2.125rem, 4.7vw, 3rem);
}

h4 {
  font-size: clamp(1.5rem, 3.5vw, 2.125rem);
}

h5 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

h6 {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.subheading1 {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
}

.subheading2 {
  font-size: clamp(0.75rem, 2.5vw, 0.875rem);
}

.button-font {
  font-size: 0.875rem;
}

.caption {
  font-size: 0.75rem;
}

.overline {
  font-size: 0.625rem;
}

// font weight

.font-medium {
  font-weight: $font-weight-medium;
}
.font-semi-bold {
  font-weight: $font-weight-semi-bold;
}
.font-bold {
  font-weight: $font-weight-bold;
}
