@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap");
* {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif !important;
}
.v-application {
  color: $neutral-900 !important;
}
.v-btn {
  text-transform: none !important;
}
.v-tab {
  text-transform: none !important;
  border-bottom: 2px solid var(--v-neutral-300);
  max-width: 500px !important;
}
span.v-chip--select.v-chip.v-chip--clickable.v-chip--no-color.theme--light.v-size--default {
  margin-top: 2px;
  margin-bottom: 2px;
}
a {
  text-decoration: none;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
